* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: lightgray;
    width: 600px;
    margin: 3rem auto;
    padding: 12px;
}

/* Location search field */

.location-fields {
    --fields-height: 32px;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 2rem;
}

#location {
    font-size: 1.15rem;
}

.location-fields input {
    height: var(--fields-height);
    padding: 4px;
    border: none;
    border-radius: 4px;
    flex: 1;
}

.search-button {
    height: var(--fields-height);
    padding: 4px 12px;
    border: none;
    color: black;
    border-radius: 4px;
}

.search-button:hover {
    background-color: white;
    outline: 1px solid black;
}

/* Current */

.current {
    padding-top: 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    text-align: center;
}

.name {
    font-weight: bold;
    font-size: 2.85rem;
    margin-bottom: 24px;
}

.condition {
    margin-bottom: -4px;
    font-size: 1.25rem;
}

.time {
    margin-top: 4px;
}

.temp {
    font-weight: bold;
    font-size: 2.65rem;
    margin-top: 1rem;
}

.icon {
    object-fit: cover;
    width: 80px;
    margin-bottom: 12px;
}

/* Extra */

.extra {
    background-color: rgb(230, 230, 230);
    margin-top: 12px;
    border-radius: 8px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.extra div {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-block: 4px;
    margin-top: 4px;
}

.extra .icon {
    transform: scale(2.75);
    margin-right: -12px;
}

.extra .info {
    display: flex;
    flex-direction: column;
}

.extra p {
    font-weight: bold;
    font-size: 1.35rem;
}

.extra .value {
    font-size: 1.15rem;
    margin-top: -12px;
}